*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#wrapper
{
    height:100vh;
    overflow-x: hidden;
    overflow-y:auto;

}

.container
{
    height:100%;
    max-width:1200px; /* container width */
    margin:0 auto;/* to make the contain in center */
    padding:20px;
}
.container h1
{
    margin:20px 0;
    text-align:center;
    margin-bottom:20px;
    font-size:3rem;

}
.gallery
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card
{
    width:32%;/* three cards in a row */
    position: relative;/* for figcaption positioning */
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden; /* to make the image fit in the card */
    cursor: pointer;
}

.card img
{
    height:100%; 
    width:100%;
    filter: grayscale(100%);
    box-shadow:0 0 20px #333 ;
    object-fit: cover; /* to cover the entire card */
    
}

.card:hover
{
    transform: scale(1.03);
    filter:drop-shadow(0 0 10px #333);/* to give shadow on hover */
    transition: 0.5s;
}

.card:hover img
{
    filter: grayscale(0%);
}

.card figcaption
{
    position: absolute;/* position at the bottom of the card */
    bottom:0;
    left:0;
    padding:25px;
    width:100%;
    height: 20%;
    font-size:16px;
    font-weight:500;
    color:#ffffff;
    opacity:0;/* initially hidden */
    border-radius: 0 0 10px 10px;
    background:linear-gradient(0deg,rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255,0) 100%);
    transition: 0.5s;

}
.card:hover figcaption
{
    opacity: 1;
    transform: scale(1.03);
}